*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.7)), url("./bg.gif");
  background-size: cover;
  background-position: center;
}
.register{
    margin-top: 10px;
}

form{
    background-color: white;
    padding: 0 60px;
    border-radius: 10px;
}
h1{
    color: rebeccapurple;
    text-align: center;
}

button{
    width: 100%;
    height: 50px;
    padding: 10px;
    border: none;
    background-color: rebeccapurple;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    font-style: 18px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 30px;
}

.otherRegs{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.otherReg{
    display: flex;
    align-items: center;
    margin: 10px 0;
    justify-content: space-between;
    width: 80%;
    padding: 3px 7px;
    border-radius: 25px;
    cursor: pointer;
}
.otherReg p {
    flex: 10.5;
}
.googleReg{
    background-color: #333;
    text-align: center;
    color: white;
}
.facebookReg{
    background-color: #4267B2;
    text-align: center;
    color: white;
}
.regIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 3px;
    border-radius: 50%;
    flex: 1.5;

}
.iconFb{
    color: #4267B2;
}
.iconGit{
    color: #333;
}
.submitButton{
    font-size: 18px;
    font-weight: 500;
}
.isMember{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}
.isMember span {
    cursor: pointer;
    color: #4267B2;
    display: block;
    font-size: 18px;
    font-weight: 600;
}